body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffcbcb;
  text-align: center;
  font-size: 1.5em;
}

img.player_area {
  width: 148px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #000000;
}
img.boy.normal {
  background-image: url("./img/boy_normal.png");
}
img.boy.win {
  background-image: url("./img/boy_win.png");
}
img.boy.lose {
  background-image: url("./img/boy_lose.png");
}
img.boy.draw {
  background-image: url("./img/boy_draw.png");
}
img.girl.normal {
  background-image: url("./img/girl_normal.png");
}
img.girl.win {
  background-image: url("./img/girl_win.png");
}
img.girl.lose {
  background-image: url("./img/girl_lose.png");
}
img.girl.draw {
  background-image: url("./img/girl_draw.png");
}

img.hand_area {
  width: 183px;
  height: 200px;
  background-color: #bbb8b8;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #000000;
}
img.janken_gu {
  background-image: url("./img/janken_gu.png");
}
img.janken_choki {
  background-image: url("./img/janken_choki.png");
}
img.janken_pa {
  background-image: url("./img/janken_pa.png");
}

a.button {
  color: #333333;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffe082;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(242, 183, 5, 1);
  padding: 5px 30px;
}

#score-board h1 {
  display: inline-block;
}
